<p id="notice"><%= notice %></p>

<p>
  <b>Photo:</b>
  <%= @notification.photo_id %>
</p>

<p>
  <b>Reciever:</b>
  <%= @notification.user_id %>
</p>


<%= link_to 'Edit', edit_notification_path(@notification) %> |
<%= link_to 'Back', notifications_path %>
