<%= form_for(@user) do |f| %>

<p>Dear Off College Walk, </p>
	<p class="indent">Hi. My name is 
	<%= f.text_field :first_name %>
	<%= f.text_field :last_name %> 
	and I'm 
	<%= f.collection_select :college_id, College.all, :id, :name%> class of 
	<%= f.select :year, [['2010', 2010], ['2011', 2011], ['2012', 2012], ['2013', 2013], ['2014', 2014], ['2015', 2015]]%>. 
		I hear all sorts of good things about you, so I really want to get to know you better. What do you think?
		If you want to reach me just shoot me an email at 
		<%= f.text_field :email %> 
		and I'll get back to you! </p><br>
		<p class="indent">-Yours.</p>
		
		<p class="indent">P.S. Let me tell you a secret! Last weekend I wrote 
		<%= f.password_field :password %> 
		on the bathroom wall! That's right, 
		<%= f.password_field :password_confirmation %>
		!</p>
  
	
  
	
	
  
  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>