<% if signed_in?%>
<p id="notice"><%= notice %></p>
<center>
	<h1><%= @user.first_name %> <%= @user.last_name %></h1>
	<h3><%= college %>, <%= School.find(@user.school_id).name %> <%= @user.year %></h3>
</center>


<%= render 'follow_form' %>

<%= render 'shared/index' %>



<%else%>
<%= render 'shared/signin'%>
<%end%>
