<h1>Listing photos</h1>

<table>
  <tr>
    <th>Title</th>
    <th>User</th>
    <th>Width</th>
    <th>Height</th>
    <th>Bought</th>
    <th>Camera</th>
    <th>Aperature</th>
    <th>Shutter</th>
    <th>Iso</th>
    <th>Time taken</th>
    <th>File size</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @photos.each do |photo| %>
  <tr>
    <td><%= photo.title %></td>
    <td><%= photo.user_id %></td>
    <td><%= photo.width %></td>
    <td><%= photo.height %></td>
    <td><%= photo.bought %></td>
    <td><%= photo.camera %></td>
    <td><%= photo.aperature %></td>
    <td><%= photo.shutter %></td>
    <td><%= photo.iso %></td>
    <td><%= photo.time_taken %></td>
    <td><%= photo.file_size %></td>
    <td><%= link_to 'Show', photo %></td>
    <td><%= link_to 'Edit', edit_photo_path(photo) %></td>
    <td><%= link_to 'Destroy', photo, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Photo', new_photo_path %>
