<% if signed_in?%>
<p id="notice"><%= notice %></p>
<center>
<h1><%= @photo.title %></h1>
<%= image_tag @photo.image_url.to_s %>






  

<p>
  
  "<%= @photo.comment %>"
</p>
<p class="indent">
	~<%= link_to User.find(@photo.user_id).first_name, User.find(@photo.user_id)%>
	</p>
</center>
	<%if @photo.user_id==current_user.id%>
		<%= link_to 'Edit', edit_photo_path(@photo) %> 
		<%= link_to 'Delete', @photo, :confirm => 'Are you sure?', :method => :delete %>
	<%end%>
	<ul class="comments">
	<% @comments.each do |comment| %>
		<li><p><strong><%= link_to User.find(comment.user_id).first_name, User.find(comment.user_id) %> says: </strong><br> <%=markdown(comment.comment)%></p></li>
	<% end %>
	</ul>
	
	<%=render 'comments/form'%>
	
	
	
<%else%>
<%= render 'shared/signin'%>
<%end%>

