<% if signed_in?%>
  <h2 class="sidebar">Collages</h2>
	 <ul class="sidebar">
				<p>
				<li><%=link_to 'Favorites', '#'%></li>
        <li><%=link_to college, root_path%></li>
				<h3>Schools</h3>
				<% schools.each do |school_id|%>
        	<li><%=link_to School.find(school_id).name, School.find(school_id)%></li>
        <% end %>
				<h3>Dorms</h3>
				<% dorms.each do |dorm_id|%>
        	<li><%=link_to Dorm.find(dorm_id).name, Dorm.find(dorm_id)%></li>
        <% end %>
				<h3>Tags</h3>
				<% tags.each do |tag|%>
        	<li><%=link_to tag.name, tag%></li>
        <% end %>
				</p>
    </ul>
<%end%>