<!DOCTYPE html>
<html>
<head>
  <title>Photogal</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
	<%= yield(:head)%>
  <%= csrf_meta_tag %>
</head>

<body>

<div id="header">
  <div id="nav">
    <ul>
        <li><%=link_to 'Home', root_path%></li>
				<% if signed_in?%>
        <li><%=link_to 'Upload', upload_path%></li>
        <li><%=link_to 'Sign Out', signout_path, :method => :delete %></li>
				<% else %>
				<li><%=link_to 'Sign In', signin_path%></li>
				<% end %>
        
    </ul>
	</div>
</div>

<div class="colmask leftmenu">
    <div class="colright">
        <div class="col1wrap">
            <div class="col1">
                <!-- Main Column start -->
								<% flash.each do |key, value| %>
				          <div class="flash <%= key %>"><%= value %></div>
				        <% end %>
                <%= yield %>
								<!-- Main Column end -->
            </div>
        </div>
        <div class="col2">
            <!-- Side Column start -->
					<% if signed_in?%>
            <h1>Sort By:</h1>
						 <ul>
									<li><%=link_to 'Favorites', '#'%></li>
					        <li><%=link_to college, '#'%></li>
									<% schools.each do |school|%>
					        <li><%=link_to school, '#'%></li>
					        <% end %>
									<% dorms.each do |dorm|%>
					        <li><%=link_to dorm, '#'%></li>
					        <% end %>
					    </ul>
					<%end%>


						<!-- Side Column end -->

        </div>
    </div>
</div>
<div id="footer">
    <p>Here is a footer. Put something useful here.

</div>
</body>
</html>
