<!DOCTYPE html>
<html>
	<head>
	  <title>Campus Collage</title>
	  <%= stylesheet_link_tag :all %>
	  <%= javascript_include_tag :defaults %>
		<%= yield(:head)%>
	  <%= csrf_meta_tag %>
		<link href='http://fonts.googleapis.com/css?family=Goudy+Bookletter+1911' rel='stylesheet' type='text/css'>
		<link  href="http://fonts.googleapis.com/css?family=Redressed:regular&v1" rel="stylesheet" type="text/css" >
		<link  href="http://fonts.googleapis.com/css?family=Miltonian:regular&v1" rel="stylesheet" type="text/css" >

	
	</head>

	<body>
		
		<div id="header">
			
		  <%= render 'layouts/header' %>
		</div>
		

		<div class="colmask leftmenu">
		    <div class="colright">
		        <div class="col1wrap">
		            <div class="col1">
		                <!-- Main Column start -->
										<% flash.each do |key, value| %>
						          <div class="flash <%= key %>"><%= value %></div>
						        <% end %>
		                <%= yield %>
										<!-- Main Column end -->
		            </div>
		        </div>
		        <div class="col2">
							<%= render 'layouts/sidebar' %>
		        </div>
						
		    </div>
		</div>
		
		<div id="footer">
		    <%= render 'layouts/footer' %>
		</div>
	</body>
</html>
